[DEFAULT]
SPORTS_LEAGUES:["nfl", "nhl", "nba", "mlb", "ncaab", "ncaafb", "fiba"]
SPORTS_LEAGUES_NO_PLAYER_REF:["football", "ncaab", "ncaafb", "fiba"]
SPORTS_LEAGUES_NO_TEAM_REF:["football", "fiba"]
SPORTS_WITH_REF:["american_football", "basketball", "football", "hockey", "baseball"]
SPORTS_LEAGUES_WITH_NICKNAME_AND_COACHES:["nfl", "nba", "mlb"]
INDIVIDUAL_SPORTS: ["golf"]
ALL_SPORTS: ["fantasy football", "fantasy baseball",
                   "american football", "college football",
                   "college basketball", "college baseball",
                   "college soccer", "basketball", "football",
                   "hockey", "baseball", "tennis",
                   "swimming", "track", "olympics",
                   "lacrosse", "rugby", "soccer"]
TOKEN_TYPES_ANALYZED :["ORG", "PERSON", "GPE"]
LANGUAGE_TYPES_ANALYZED: ["PROPN"]
IGNORE_TAGS: ["Spotify", "Apple", "Apple Music"]

MAX_DESCRIPTION_LENGTH = 1000