[DEFAULT]
SPORTS_LEAGUES:["NFL", "NHL", "NBA", "MLB"]
SPORTS_NO_REF:["soccer", "ncaab", "ncaafb", "fiba"]
MATCHUP_INDICATORS: ["@", "&", "-"]
SPORTS_WITH_REF:["football","basketball", "hockey", "baseball"]
INDIVIDUAL_SPORTS: ["golf"]
ALL_SPORTS: ["fantasy football", "fantasy baseball", "golf",
                   "american football", "college football",
                   "college basketball", "college baseball",
                   "college soccer", "basketball", "football",
                   "hockey", "baseball", "tennis",
                   "swimming", "track", "olympics",
                   "lacrosse", "rugby", "soccer"]
ENTITY_TYPES_ANALYZED :["ORG", "PERSON", "GPE"]
LANGUAGE_TYPES_ANALYZED: ["PROPN"]

MAX_DESCRIPTION_LENGTH = 1000