[DEFAULT]
SPORTS_LEAGUES:["NFL", "NHL", "NBA", "MLB"]
SPORTS_NO_REF:["SOCCER", "NCAAB", "NCAAFB", "FIBA"]
MATCHUP_INDICATORS: ["@", "&", "-"]
SPORTS_WITH_REF:["FOOTBALL","BASKETBALL", "HOCKEY", "BASEBALL"]
INDIVIDUAL_SPORTS: ["GOLF"]
ALL_SPORTS: ["FANTASY FOOTBALL", "FANTASY BASEBALL", "GOLF",
                   "AMERICAN FOOTBALL", "COLLEGE FOOTBALL",
                   "COLLEGE BASKETBALL", "COLLEGE BASEBALL",
                   "COLLEGE SOCCER", "BASKETBALL", "FOOTBALL",
                   "HOCKEY", "BASEBALL", "TENNIS",
                   "SWIMMING", "TRACK", "OLYMPICS",
                   "LACROSSE", "RUGBY", "SOCCER"]
ENTITY_TYPES_ANALYZED :["ORG", "PERSON", "GPE"]
LANGUAGE_TYPES_ANALYZED: ["PROPN"]
ENTITY_PREFIX_LIST: ["THE"]

MAX_DESCRIPTION_LENGTH = 1000